@using EntregaRapida.Models
@model List<Pedido>
<script src="~/lib/microsoft/signalr/dist/browser/signalr.min.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
<link rel="stylesheet" type="text/css" href="~/css/style_signalBotoes.css">

<div id="content">
    <div id="user-menu">
        <div id="user-info">
            <ul>
                <div><h3 id="user-loja"></h3></div>
            </ul>
        </div>
    </div>
    <div id="dash-feed">
        <div id="feed">
            <h3 class="white-block">Pedidos Pendentes</h3>
            <div class="table-responsive text-center">
             <table class="table table-striped table-bordered table-dark table-hover mx-auto">
                <thead class="thead-light">
                    <tr>
                        <th class="text-center" style="width: 25%;">Destino</th>
                        <th class="text-center" style="width: 25%;">Cidade</th>
                        <th class="text-center" style="width: 25%;">Data</th>
                        <th class="text-center" style="width: 25%;">Status</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var pedido in Model)
                    {
                        if (pedido.statuspedido == EntregaRapida.Models.Enum.StatusPedido.Pendente)
                        {
                            <tr>
                                <td class="text-center" style="width: 25%;">@pedido.enderecoDestino</td>
                                <td class="text-center" style="width: 25%;">@pedido.Cidade</td>
                                <td class="text-center" style="width: 25%;">@pedido.date</td>
                                <td class="text-center" style="width: 25%;">@pedido.statuspedido</td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
            </div>
            <h3 class="white-block" >Entregador a caminho</h3>
        <div class="table-responsive text-center">
            <table class="table table-striped table-bordered table-dark table-hover mx-auto">
                <thead class="thead-light">
                    <tr>
                        <th class="text-center" style="width: 25%;">Destino</th>
                        <th class="text-center" style="width: 25%;">Data</th>
                        <th class="text-center" style="width: 25%;">Status</th>
                        <th class="text-center" style="width: 25%;">Entregador</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var pedido in Model)
                    {
                        if (pedido.statuspedido == EntregaRapida.Models.Enum.StatusPedido.Preparado)
                        {
                            <tr>
                                <td class="text-center" style="width: 25%;">@pedido.enderecoDestino</td>
                                <td class="text-center" style="width: 25%;">@pedido.date</td>
                                <td class="text-center" style="width: 25%;">@pedido.statuspedido</td>
                                <td class="text-center" style="width: 25%;">@pedido.EntregadorNome</td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
             </div>
            <h3 class="white-block" >Enviando para o cliente</h3>
            <div class="table-responsive text-center">
            <table class="table table-striped table-bordered table-dark table-hover mx-auto">
                <thead class="thead-light" style="border-radius: 25px">
                    <tr>
                        <th class="text-center" style="width: 25%;">Destino</th>
                        <th class="text-center" style="width: 25%;">Data</th>
                        <th class="text-center" style="width: 25%;">Status</th>
                        <th class="text-center" style="width: 25%;">Entregador</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var pedido in Model)
                    {
                        if (pedido.statuspedido == EntregaRapida.Models.Enum.StatusPedido.Acaminho)
                        {

                            <tr>
                                <td class="text-center"style="width: 25%;">@pedido.enderecoDestino</td>
                                <td class="text-center"style="width: 25%;">@pedido.date</td>
                                <td class="text-center"style="width: 25%;">@pedido.statuspedido</td>
                                <td class="text-center"style="width: 25%;">@pedido.EntregadorNome</td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
            </div>
        </div>
        <script>
                const connection = new signalR.HubConnectionBuilder().withUrl("/entregadorHub").build();          
        </script>
    </div>
</div>










